body { 
	padding-top: 70px; 
	padding-bottom: 70px;
}

.panel-body {
	background-color: #E7E7E7;
}

/* general */

img {
    border: 0;
}

a {
    text-decoration: none;
    color: #660099;
}

a:hover {
    text-decoration: none;
    color: #25FDE9;
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

/**************
 * CATEGORIES *
 **************/

.category {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

/**********
 * LABELS *
 **********/

td.labels {
  vertical-align: baseline;
  text-align: left;
  padding: 5px;
}

/**********
 * ENTREE *
 **********/

td.entree {
  vertical-align: baseline;
  text-align: justify;
}

/***********
 * AUTEURS *
 ***********/

.auteur {
  text-decoration:none;
  color: #116622;
}

.editeur {
  text-decoration:none;
  color: #116622;
}

/**********
 * TITRES *
 **********/

.titre a {
  text-decoration:none;
  color: #660099;
/*  color: #0510dd; */
}

.titre:hover a{
  color: #25FDE9;
/*  color: #116622; */
 
}

.titre span {
}

.titre_it a {
  text-decoration:none;
  color: #0510dd;
  font-style: italic;
}
.titre_it span {
  font-style: italic;
}


span.booktitle {
}

span.journal {
  font-style: italic;
}

/********
 * DATE *
 ********/

span.year {
}

/*************
 * PUBLISHER *
 *************/

span.publisher {
}

/********
 * LIEN *
 ********/

a.link {
  color: #ff6600;
/*  color: #116622; */
  text-decoration:none;  
}

a.link:hover {
  color: #25FDE9;
/*  color: #116622; */
 
}

a.bibtex_link {
  color: #ff6600;
/*  color: #116622; */
  text-decoration:none;  
}

a.bibtex_link:hover {
  color: #25FDE9;
/*  color: #116622; */
 
}

a.abstract_link {
  color: #ff6600;
/*  color: #116622; */
  text-decoration:none;  
}

a.abstract_link:hover {
  color: #25FDE9;
/*  color: #116622; */
 
}



/************
 * ABSTRACT *
 ************/

table.abstract {
  margin: 15px 15% 15px 15%;
  padding: 8px;  
}
td.abstract_name {
  text-align: left;
  padding-right: 10px;
  vertical-align: baseline;
}
td.abstract_content {
  text-align: justify;
  vertical-align: baseline;
  background: #DDEEFF;
  padding: 8px;  
}


input.btn{
   color:black;
   font-size:84%;
   font-weight:bold;
   background-color:#d7e1ed;
   border:0px;
}

div.abstract{
    text-align:justify;
    margin-right:20px;
    margin-top:-2px;
    padding-right:10px;
    padding-left:10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color:#d7e1ed;
}


/**********
 * BIBTEX *
 **********/

/********************************************************************************
 * Avec Opera + Emacs, le copier-coller sur les listes de definitions donne     * 
 * des resultats merdiques (perte de l'indentation). Le code serait plus propre,*
 * mais on y perdrait quand meme pas mal, je pense... On attend mieux, donc.    *
 ********************************************************************************/

dl.bibtex
{
width: 20cm;
padding: 0px;
text-align: center;
margin: 15px 15% 15px 15%;
}

.bibtex dt
{
width: 5cm;
float: left;
margin: 0 0 0 0;
}

.bibtex dd
{
float: left;
width: 13cm;
margin: 0 0 0 0;
text-align: justify;
}


/**************
 * CO-AUTEURS *
 **************/

.coauteur ul {
}

.coauteur a {
  text-decoration:none;
  color: #116622;
}
